/* src/styles/App.css */
.app {
  font-family: Arial, sans-serif;
  text-align: center;
  width: 100%;
  background-image:url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Ffreebie.photography%2Fnature%2Fcloudy_blue_sky.jpg&f=1&nofb=1&ipt=2f67526affe8698975cf20558ed1a35d8203653b9677c83b4efd610ebb6ce99e&ipo=images");
  background-repeat:no-repeat;
background-size:cover;
background-position:center;
color: #0e0d0d;
min-height: 600px;
}

.nav
{
  background-color: rgb(64 64 217 / 48%);
  text-align: center;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 10px 7px 7px 1px #0a2f4e;
  
}


.weather-form 
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-form input
{
  padding: 10px;
  border-radius: 12px;
 
  margin: 5px;
}

.weather-form button {
  padding: 5px;
  border-radius: 20px;
  margin: 5px;
}

.unit-toggle {
  margin-top: 10px;

}

.clear
{
  border-radius: 30px;
  background-color: rgba(219, 14, 14, 0.562);
  width: 20px;
  text-align: center;
  margin-top: 7px;
}

.clear:hover
{
  background-color: red;
}
.unit-toggle label {
  margin: 0 0px;
}

.weather-details,
.weather-forecast {
  margin: 20px 0;
}
.inner
{
  background-color: rgb(214, 228, 240,0.527);
  border-radius: 12px;
  min-width: max-content;
  padding: 10px;


}
.weather-summary
{
  display:flex;
  justify-content: center;
  align-items: center;
}
.weather-forecast
{
  display:flex;
  justify-content: center;
  align-items: center;
}

.forecast-day {
  margin: 12px;
  padding: 10px;
  background-color: rgba(214, 228, 240, 0.527);
  border-radius: 12px;
  min-width: max-content;
  padding: 10px;
}

.error {
  color: red;
  font-weight: bold;
}

@media (max-width: 768px) {
  .weather-forecast { flex-direction: column; 
   } 
 } 
 @media (min-width: 768px) { 
 .weather-forecast {
  flex-direction: row; 
   } 
 }

